* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  font-family: "Fira Sana", sans-serif;
}


//navbar 

.navbar {
  position: absolute;
  font-size: 1.5rem;
  list-style: none;
  display: flex;
  justify-content:right;
  gap: 50px;
  margin-top: 2rem;
  z-index: 999;
}
.items {
  display: flex;
  gap: 200px;
  justify-content: right;
  margin-right: 5rem;
}
.link {
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin-top: 0.1rem;
}
ul li{
  color: #fff;
}
.link:hover {
  text-decoration: underline;
  text-decoration-color: rgb(235, 184, 0);
  text-decoration-thickness: 3px;
  margin-top:0.2rem;
}




//front display
.bgimg {
  height: 101vh;
  width: 100vw;
  z-index: -1;
}
.slider {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateX(-50%);
  transition: all.5s ease;
}
@media screen and (min-width: 600px) {
  .slide img {
    width: 100%;
    height: 100%;
  }
}
.slide img {
  height: 100%;
}

.content {
  position: absolute;
  top: 23rem;
  left: 5rem;
  opacity: 0;
  width: 50%;
  padding: 3rem;
  //background:rgba(0,0,0,.3);
  animation: slide-up 1s ease 0.5s;
  animation-fill-mode: forwards;
  //visibilty:hidden;
}
@keyframes slide-up {
  0% {
    visibilty: visible;
    top: 23rem;
  }
  100% {
    visibilty: visible;
    top: 17rem;
  }
}
.content > * {
  color: #ffffff;
  margin-bottom: 1rem;
}

@media screen and (max-width: 600px) {
  .content {
    width: 80%;
  }
}
.current {
  opacity: 1;
  transform: translateX(0);
}
.current .content {
  opacity: 1;
}
.arrow {
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  position: absolute;
  z-index: 999;
  top: 45%;
}
.arrow:hover {
  background-color: #fff;
  color: #777;
}
.next {
  right: 1.5rem;
}
.prev {
  left: 1.5rem;
}
hr {
  height: 2px;
  width: 50%;
  background: #fff;
}
